
div.asd{
	text-align: left;
	width: 700px;
	height: 259px;
	background-color: #e8e8e8
}
div.qwe{
	text-align: center;
}
#main-block{
	font-size: 0.75em;
    white-space: nowrap;
    position: relative;
    left: -10px;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    text-align: center;
}

.key{
text-align: center;
}

.info{
	vertical-align: middle;
	text-align: right;
}
#content{
text-align: center;

}